/* colour palette */
/* eae8ff d8d5db 4c5f6b 2d3142 b0d7ff */

::-webkit-scrollbar {
    display: none;
}

.rotate1 {
  display: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
}

section {
    display: inline-block;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
    overflow-x: hidden;
}

.sections {
    width: 100%;
    height: 95vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.cText {
    color: #eae8ff;
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
    margin-top: 2.5vh;
    margin-left: 10vh;
    margin-bottom: 0vh;
    transition: 1s;
}
.cSwitch {
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
    margin-top: 2.5vh;
    margin-left: 10vh;
    margin-bottom: 0vh;
}
.cText2 {
    color: #d8d5db;
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
    margin-top: 1vh;
    margin-left: 10vh;
    margin-bottom: 0vh;
    text-align: justify;
    text-justify: inter-word;
    transition: 1s;
}
.cSwitch2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
    margin-top: 1vh;
    margin-left: 10vh;
    margin-bottom: 0vh;
    text-align: justify;
    text-justify: inter-word;
}
.cFore {
    background-color: #4c4f6b;
    transition: 1s;
}
.cBack {
    background-color: #2d3142;
    transition: 1s;
}
.cOff {
    color: #b0d7ff;
}
.scrollFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.scroll {
    width: 2vw;
    vertical-align: bottom;
    position: absolute;
    bottom: 5vh;
}
.homeFlex {
    display: flex;
    align-items: right;
    justify-content: right;
}
.home {
    width: 4vh;
    margin-top: 2vh;
    margin-right: 2vh;
}
.raytraceImg {
    width: 100vh;
    margin-top: -10vh;
    margin-right: 2.5vh;
    border-radius: 5vh;
}
.macroFlex {
    display: flex;
    align-items: center;
    justify-content: right;
}
.macroImg {
    width: 100vh;
    margin-top: -15vh;
    margin-right: 1vh;
}
.parallaxImg {
    width: 60vw;
    margin-right: 5vh;
}
.slideLeft {
    transform: translateX(100%);
    transition: 1s;
}
.slidLeft {
    transform: translateX(0);
}
.switch {
    transition: 1s;
}
@media screen and (orientation: landscape) {
    .rotate {
        display: none;
        position: fixed;
    }
}

@media screen and (orientation: portrait) {
    .sections > section > * {
        display: none;
    }
    .sections > section > * > * {
        display: none;
    }
    .rotate {
        margin-top: 24vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .rotateItem {
        transform: scale(10);
    }
}
.centerLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.loading-grid {
  display: inline-block;
  position: relative;
  width: 16vh;
  height: 16vh;
}
.loading-grid div {
  position: absolute;
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 50%;
  background: #fff;
  animation: loading-grid 2.5s cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}
.loading-grid div:nth-child(1) {
  top: 0vh;
  left: 0vh;
  animation-delay: 0s;
}
.loading-grid div:nth-child(2) {
  top: 0vh;
  left: 5vh;
  animation-delay: 0.5s;
}
.loading-grid div:nth-child(3) {
  top: 0vh;
  left: 10vh;
  animation-delay: 1s;
}
.loading-grid div:nth-child(4) {
  top: 5vh;
  left: 0vh;
  animation-delay: 0.5s;
}
.loading-grid div:nth-child(5) {
  top: 5vh;
  left: 5vh;
  animation-delay: 1s;
}
.loading-grid div:nth-child(6) {
  top: 5vh;
  left: 10vh;
  animation-delay: 1.5s;
}
.loading-grid div:nth-child(7) {
  top: 10vh;
  left: 0vh;
  animation-delay: 1s;
}
.loading-grid div:nth-child(8) {
  top: 10vh;
  left: 5vh;
  animation-delay: 1.5s;
}
.loading-grid div:nth-child(9) {
  top: 10vh;
  left: 10vh;
  animation-delay: 2s;
}
@keyframes loading-grid {
  0%, 100% {
    opacity: 1;
    transform: scale(110%);
  }
  50% {
    opacity: 0.5;
    transform: scale(100%);
  }
}
